.venv
.idea
.vscode
.env
.cursor
.langgraph_api


scripts/
evaluation/

evaluation_report/

*.log
**/__pycache__
**/logs
*.egg-info
__pycache__

.DS_Store

*.py[co]

.ruff_cache
.mypy_cache
.pytest_cache
.env.shared
service1_payment_extractor/.env
service2_payment_extractor/.env
debug_output/
service1_clause_extractor/debug_output/
service1_clause_extractor/logs/
service2_clause_extractor/logs/
service2_payment_extractor/debug_output/
service2_payment_extractor/app/resources/models
service2_payment_extractor/sequential_payment_extracton_client.py
clause_classify_client.py
test_input_output
tests/
service2_payment_extractor_skills/
retrospective_validation
.comate
service2_payment_extractor/skill+免训练模型
clause_classify_client.py
payment-extraction-pipeline.svg
stat_clauses.py
skill+免训练模型
service1相关脚本
service2_payment_extractor/.sisyphus
.sisyphus
service1_clause_extractor